<template>
    <el-container>
        <el-header style="padding:0px;" height="60px">
            <navbar-component />
        </el-header>
        <el-container>
            <el-aside :width="isCollapse?'64px':'200px'" style="background-color: rgb(238, 241, 246)" class="none-select">
                <el-scrollbar>
                    <menu-component v-bind:isCollapsed="isCollapse" v-on:listenCollapsed="listenCollapsed" />
                </el-scrollbar>
            </el-aside>
            <el-container>
                <breadcrumbs class="none-select" />
                <el-main>
                    <router-view></router-view>
                </el-main>
                <el-footer class="text-center">
                    <span>业务表单设计系统</span>
                    <br>
                    <span style="margin-top: 10px">
                        Copyright &copy; {{new Date().getFullYear()}} TZ.vNext All Rights Reserved (Version:{BUILDNUMBER},
                        Revision:{REVISION})
                    </span>
                </el-footer>
            </el-container>
        </el-container>
    </el-container>
</template>

<script src="./index.ts" />

<style>
    .el-aside {
        background-color: #f5f5f5;
        color: #333;
    }
</style>