<template>
    <div class="update">
        <h1>更新日志</h1>

        <h5 style="color: #0188ca;margin-top:30px">版本：{BUILDNUMBER}（2019-08-29）</h5>

        <h6 style="margin-top:20px">新增功能：</h6>
        <p style="line-height: 1.5">1.增加更新日志;</p>
        <p style="line-height: 1.5">2.增加案例超级表单;</p>
        <p></p>
        <h6 style="margin-top:20px">功能优化：</h6>
        <p style="line-height: 1.5;">1.优化表单样式;</p>
        <p style="line-height: 1.5;">2.其他已知问题优化;</p>
        <p></p>
    </div>
</template>

<script src="./updatelog.ts"></script>

<style scoped>
    .update {
        height: 460px;
        overflow-x: hidden !important;
        overflow-y: auto;  
    }

    div.update::-webkit-scrollbar {
        width: 6px;
        height: 10px;
    }

    div.update::-webkit-scrollbar-track {
        /*background: rgb(239, 239, 239);*/
        background: #fff;
        border-radius: 2px;
    }

    div.update::-webkit-scrollbar-thumb {
        /*background: #bfbfbf;*/
        background: rgba(144,147,153,.3);
        border-radius: 6px;
    }
    
    div.update::-webkit-scrollbar-thumb:hover {
        background: #333;
    }

    div.update::-webkit-scrollbar-corner {
        background: #179a16;
    }
</style>