<template>
    <div>
        <tz-super-form :form="form" :form-data="formData" :label-width="100" :isHideBackBtn="true"
            :isHideSubmitBtn="true" :single="true">
        </tz-super-form>

        <!-- 设置数据源弹框 -->
        <el-dialog :visible.sync="canSetDataSource" append-to-body title="数据源" v-if="canSetDataSource" width="50%">
            <app-form-options-set :model="formData.options" @submit="(data) => { canSetDataSource = false; handleOptionsSet(data)}"></app-form-options-set>
        </el-dialog>

        <!-- 设置grid数据源弹框 -->
        <el-dialog :visible.sync="canSetGridDataSource" append-to-body title="数据源" v-if="canSetGridDataSource" width="50%">
            <app-form-grid-options-set :options="formData.options" @submit="(data) => { canSetGridDataSource = false; handleOptionsSet(data)}"></app-form-grid-options-set>
        </el-dialog>
    </div>
</template>

<script src="./BuilderAppFormItemProperty.ts"></script>