<template>
    <draggable :animation="200" :disabled="false" :list="fields" @add="handleAdd" @end="handleMoveEnd"
        @start="handleMoveStart" group="form" style="padding-bottom: 100px;height:100%" tag="el-row">

        <div class="form-area-placeholder" v-if="fields.length === 0">从左侧拖拽来添加表单项</div>

        <template v-else>
            <!-- 表单项 -->
            <template v-for="(formItem, index) of fields">
                <!-- 列 -->
                <el-col :class="{'form-item-active': selectIndex === index}" :key="index"
                    @click.native="handleFormItemClick(index)" :span="formItem.cols ? 8 * formItem.cols : 8"
                    class="form-item" v-if="formItem.type !== 'hide'">
                    <!-- 表单项 -->
                    <el-form-item :label="formItem.label + '：'" size="medium" :prop="formItem.name" :class=" formItem.type === 'text' ? 'readonly' : '' " :show-message="false">
                        <!-- 组件 -->
                        <component :desc="formItem" :is="getComponentName(formItem.type)"
                            :key="formItem.key" v-model="formData[formItem.name]" />
                        <!-- 提示 -->
                        <!-- <div class="ele-form-tip" v-if="formItem.formData.tip">{{formItem.formData.tip}}</div> -->
                    </el-form-item>

                    <!-- 删除按钮 -->
                    <el-button @click.stop="handleDelete(index)" class="form-item-delete-btn" icon="el-icon-delete"
                        size="mini" style="border-radius: 0" type="primary" v-if="selectIndex === index"></el-button>
                </el-col>
            </template>
        </template>
    </draggable>
</template>

<script src="./BuilderAppFormDraggleContainer.ts"></script>

<style>
    .group-item-delete-btn {
        z-index: 3;
    }

    .form-item-delete-btn {
        position: absolute;
        right: 0;
        top: 0;
        z-index: 3;
    }

    /* 当无表单时的占位 */
    .form-area-placeholder {
        width: 100%;
        height: 350px;
        line-height: 350px;
        background-color: white;
        color: #909399;
        text-align: center;
    }

    /* 表单项 */
    .form-item {
        background: white;
        cursor: move;
        position: relative;
        z-index: 1;
        padding: 0 20px;
        border: 1px dashed rgba(0, 0, 0, 0);
    }

    .form-item-active {
        border: 1px dashed #409eff;
    }

    /* 遮挡区(遮挡住) */
    .form-item::after {
        content: " ";
        display: block;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        position: absolute;
        z-index: 2;
    }
</style>