<template>
    <div class="app-form-group-item">
        <div class="text-right " style="padding-bottom: 20px; height: 100%;" v-if="this.data.key !='basic'">
            <slot></slot>
        </div>

        <template v-for="(row, rowIndex) of rows">
            <app-form-draggle-container :key="row.key" :fields="row.fields" @selectedFormItem="handleSelectFormItem"
                @delete-field="handleDeleteField"></app-form-draggle-container>
        </template>
    </div>
</template>

<script src="./BuilderAppFormGroupItem.ts"></script>

<style>
    .app-form-group-item {
        min-height: 350px;
    }
</style>