<template>
    <div class="app-main-header-container">
        <!-- 顶部按钮 -->
        <el-button @click="isShowData = true" icon="el-icon-upload2" type="text">生成数据</el-button>
        <el-button @click="isShowCode = true" icon="el-icon-tickets" type="text">生成代码</el-button>

        <slot />

        <!-- 导出数据弹框 -->
        <el-dialog :visible.sync="isShowData" append-to-body title="数据" v-if="isShowData" width="600px">
            <json-editor :value="form"></json-editor>
        </el-dialog>

        <!-- 生成代码弹框 -->
        <el-dialog :visible.sync="isShowCode" append-to-body title="代码" v-if="isShowCode" width="1200px">
            <el-row :gutter="24">
                <el-col :span="12">
                    <codemirror :value="view_code_html" :mode="'text/html'"></codemirror>
                </el-col>
                <el-col :span="12">
                    <codemirror :value="render_code_html" :mode="'text/typescript'"></codemirror>
                </el-col>
            </el-row>
        </el-dialog>
    </div>
</template>

<script src="./BuilderAppFormHeader.ts"></script>

<style>
    .app-main-header-container {
        height: 57px;
        line-height: 60px;
        padding-left: 20px;
        border-bottom: 1px solid #ebeef5;
    }
</style>