<template>
    <div class="app-form-container">
        <app-form-header :form="form" :form-data="formData" :rules="rules" :formAttr="formAttr">
            <slot></slot>
        </app-form-header>

        <el-form label-position="top" :label-width="labelWidth" :model="formData" ref="form" :rules="rules"
            @submit.native.prevent="handleValidateForm">
            <el-collapse :value="activeCollapses">
                <el-collapse-item v-for="(group, groupIndex) of form" :title="group.title" :name="group.name"
                    :key="group.key">
                    <app-form-group-item :data="group" @selectedFormItem="handleSelectFormItem" @delete-field="handleDeleteField">
                        <el-button @click.stop="removeGroup(group.key)" class="group-item-delete-btn"
                            icon="el-icon-delete" size="mini" style="border-radius: 0" type="danger"></el-button>
                    </app-form-group-item>
                </el-collapse-item>
            </el-collapse>
            <el-row class="mb15 mt15">
                <el-form-item class="text-right">
                    <el-button type="primary" native-type="submit" v-if="showSubmitBtn">
                        {{submitBtnText?submitBtnText:'提交'}}</el-button>
                    <el-button v-if="showBackBtn">{{backBtnText?backBtnText:'返回'}}</el-button>
                </el-form-item>
            </el-row>
        </el-form>
    </div>
</template>

<script src="./BuilderAppForm.ts"></script>

<style>
    .app-form-container {
        padding: 0px;
    }

    .group-item-delete-btn {
        z-index: 3;
    }
</style>