<appender>
    <IsActive>True</IsActive><!-- True | False -->
    <Mode>Local</Mode><!-- Local | Production | Offline -->
    <IgnoreConnectionStrings></IgnoreConnectionStrings><!-- True | False -->
    <Local>
        <Port>22898</Port>
        <HostToSendProfilingInformationTo>127.0.0.1</HostToSendProfilingInformationTo>
    </Local>
    <Production>
        <Port></Port>
        <Password></Password>
    </Production>
    <Offline>
        <Path></Path>
        <IsRolling></IsRolling><!-- True | False -->
    </Offline>
</appender>