<template>
    <!--<tz-super-form :form="model.ContentData.form" :form-data="model.ContentData.formData" :rules="model.ContentData.rules"
        :label-width="model.ContentData.formAttr.labelWidth" :request-fn="handleSubmit" @request-success="handleSuccess"
        @request-error="handleError" @request-end="handleEnd"
        :isHideSubmitBtn="model.ContentData.formAttr.isHideSubmitBtn"
        :isHideBackBtn="model.ContentData.formAttr.isHideBackBtn"
        :submitBtnText="model.ContentData.formAttr.submitBtnText" :backBtnText="model.ContentData.formAttr.backBtnText"
        :isCustomHandleRequest="model.ContentData.formAttr.isCustomHandleRequest"
        :isAutoHandlePost="model.ContentData.formAttr.isAutoHandlePost" :action="model.ContentData.formAttr.action"
        :single="model.ContentData.formAttr.single"></tz-super-form>-->
    <al-super-form :form="model.ContentData.form" :form-data="model.ContentData.formData" :rules="model.ContentData.rules"
                   :label-width="model.ContentData.formAttr.labelWidth" :request-fn="handleSubmit" @request-success="handleSuccess"
                   @request-error="handleError" @request-end="handleEnd"
                   :isHideSubmitBtn="model.ContentData.formAttr.isHideSubmitBtn"
                   :isHideBackBtn="model.ContentData.formAttr.isHideBackBtn"
                   :submitBtnText="model.ContentData.formAttr.submitBtnText" :backBtnText="model.ContentData.formAttr.backBtnText"
                   :isCustomHandleRequest="model.ContentData.formAttr.isCustomHandleRequest"
                   :isAutoHandlePost="model.ContentData.formAttr.isAutoHandlePost" :action="model.ContentData.formAttr.action"
                   :single="model.ContentData.formAttr.single"></al-super-form>
</template>

<script src="./product.detail.ts"></script>