<template>
    <el-container style="height:100%;overflow: hidden;">
        <el-header>
            <div class="app-header-container">
                <h1 class="app-header-title">表单生成器</h1>
            </div>
        </el-header>
        <el-container class="form-builder-container">
            <el-aside width="300px">
                <app-form-components></app-form-components>
            </el-aside>
            <el-main>
                <app-form ref="appForm" :form="form" :formAttr="formAttr" :form-data="formData" :rules="rules"
                    @selectedFormItem="handleSelectedFormItem" @remove-group="removeGroup"
                    @delete-field="handleDeleteField">
                    <el-button @click="addGroup" icon="el-icon-plus" type="text">添加分组</el-button>
                    <el-button @click="isInitData = true" icon="el-icon-setting" type="text">初始化</el-button>
                    <el-button @click="isPreview = true" icon="el-icon-view" type="text">预览</el-button>
                </app-form>
            </el-main>
            <el-aside width="400px" class="property-tab">
                <el-tabs :stretch="true" v-model="activeTab">
                    <el-tab-pane label="表单项属性" name="0">
                        <app-form-item-property :formItem="selectFormItem" :rules="rules"
                            @formItemPropertyChange="handleFormItemPropertyChange" />
                    </el-tab-pane>
                    <el-tab-pane label="表单属性" name="1">
                        <app-form-property @formPropertyChange="handleFormPropertyChange" />
                    </el-tab-pane>

                    <el-tab-pane label="代码可视化" name="2">
                        <v-jsoneditor v-model="form" :plus="false" :options="{ mode:'code'}" :height="'780px'" ref="codeEditor">    
                        </v-jsoneditor>
                    </el-tab-pane>
                </el-tabs>
            </el-aside>
        </el-container>

        <!-- 初始化弹框 -->
        <el-dialog :visible.sync="isInitData" append-to-body title="数据" v-if="isInitData" width="600px">
            <json-editor :value="form_init_data" @change="handleJsonChanged"></json-editor>
            <el-button @click="(data) => { isInitData = false;initForms(data)}" icon="el-icon-upload2" type="primary"
                class="mt10">确定</el-button>
        </el-dialog>

        <!-- 预览弹框 -->
        <el-dialog :visible.sync="isPreview" append-to-body title="预览" v-if="isPreview" width="75%">

            <tz-super-form :form="form" :form-data="formData" :label-width="100" :rules="rules"
                :submitBtnText="formAttr.submitBtnText" :backBtnText="formAttr.backBtnText"
                :isHideSubmitBtn="formAttr.isHideSubmitBtn" :isHideBackBtn="formAttr.isHideBackBtn"
                :request-fn="handleSubmit" @request-success="handleSuccess" @request-error="handleError"
                @request-end="handleEnd" @request="handleRequest"
                :isCustomHandleRequest="formAttr.isCustomHandleRequest" :isAutoHandlePost="formAttr.isAutoHandlePost"
                :action="formAttr.action" :single="formAttr.single">

            </tz-super-form>
        </el-dialog>
    </el-container>
</template>

<script src="./index.ts"></script>

<style>
    .app-header-container {
        display: flex;
        justify-content: space-between;
        box-sizing: border-box;
        border-bottom: 1px solid #ebeef5
    }

    .app-header-title {
        font-size: 24px;
        color: #409eff;
    }

    .form-builder-container .el-main {
        padding: 0px 20px;
        height: 100%
    }

    .form-builder-container .el-main::-webkit-scrollbar,
    .form-builder-container .el-aside::-webkit-scrollbar {
        width: 6px;
        height: 10px;
    }

    .form-builder-container .el-main::webkit-scrollbar-track,
    .form-builder-container .el-aside::-webkit-scrollbar-track {
        /*background: rgb(239, 239, 239);*/
        background: #fff;
        border-radius: 2px;
    }

    .form-builder-container .el-main::-webkit-scrollbar-thumb,
    .form-builder-container .el-aside::-webkit-scrollbar-thumb {
        /*background: #bfbfbf;*/
        background: rgba(144, 147, 153, .3);
        border-radius: 6px;
    }

    .form-builder-container .el-main::-webkit-scrollbar-thumb:hover,
    .form-builder-container .el-aside::-webkit-scrollbar-thumb:hover {
        background: #333;
    }

    .form-builder-container .el-main::-webkit-scrollbar-corner,
    .form-builder-container .el-aside::-webkit-scrollbar-corner {
        background: #179a16;
    }

    .el-collapse-item {
        min-height: 350px;
    }
</style>